---
---

@import "variables";
@import "bootstrap/scss/bootstrap";

html, body {
    /* background-color: #37006d; */
    /* -webkit-transform: translate3d(0,0,0); */
    color: #ffffff;
    /* font-size: 14pt; */
}

.background-purple {
    background-color: #502B73;
}

/* .btn { */
/*     21pt; */
/* } */

hr {
    height: 2px;
    color: #ffffff;
    background: #ffffff;
    font-size: 0;
    border: 0;
}

.title {
    margin-top: 20px;
    margin-bottom: 20px;
}

.star {
    color: #ffff00;
}

.review-item {
    background: #502B73;
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 10px;
}

pre code {
    color: #ffffff;
}

.mp-header {
    min-height: 720px;
    position: relative;
    height: 100%;
    background: url(/img/index-background.svg) center center;
    /* background: url(https://nb9-stumbleupon.netdna-ssl.com/zuZ2r1FsBTumc2VqMc6CtA) center center; */
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    color: #fff;

    /* background: url(/img/index-background.svg); */
    /* background-repeat:no-repeat; */
    /* background-size: cover; */
    /* width: 100%; */
    /* height: 1200px; */
}

.navbar-style {
    background: none;
}

.signup-form {
    margin-bottom: 200px;
    margin-top: 50px;
}

.btn-mp {
    background-color: transparent;
    border-color: #ffffff;
    border-width: 3px;
    color: ffffff;
}

.btn-mp:hover {
    background-color: rgba(255, 255, 255, 0.3);
}


.brands {
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

/* Style brand logo SVGs */
.brands svg path {
    fill: white;
    fill-opacity: 0.5;
}