<html>
  <head>
    <link rel="stylesheet" href="/assets/main.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg background-purple">
      <div class="container">
	<ul class="navbar-nav mr-auto">
	  <li class="nav-item active">
	    <a class="btn btn-light m-2" href="/">Tools for Non-technical Users<span class="sr-only">(current)</span></a>
	  </li>
	  <li class="nav-item">
	    <a class="btn btn-light m-2" href="/developer.html">Tools for Developers</a>
	  </li>
	</ul>
      </div>
    </nav>

    {{content}}

    <script src="{{'/node_modules/jquery/dist/jquery.min.js' | prepend: site.baseurl}}"></script>
    <script src="{{'/node_modules/popper.js/dist/popper.min.js' | prepend: site.baseurl}}"></script>
    <script src="{{'/node_modules/bootstrap/dist/js/bootstrap.min.js' | prepend: site.baseurl}}"></script>
  </body>
</html>
