---
layout: blank
---

{% assign rank = 0 %}
{% for item in site.reviews %}
{% if item.path contains page.tooltype %}
{% assign rank = rank | plus: 1 %}
<div class="container review-item rounded">
  <div class="row">
    <div class="col-1">
      {{ rank }}.
    </div>
    <div class="col">
      <h5><img height="75" src="/img/{{ item.logo }}"> <a href="{{ item.url }}">{{ item.title }}</a></h5>
    </div>
    <div class="col">
      <!-- <div class="btn-group"> -->
      <a href="{{ item.url }}" class="btn btn-light">Read Review</a>
      <a href="{{ item.site }}" class="btn btn-light">Visit Site</a>
      <!-- </div> -->
    </div>
  </div>
  {% for row in item.info %}
  <div class="row">
    <div class="col-4 text-right">{{ row.name }}:</div><div class="col"> {{ row.value }}</div>
  </div>
  {% endfor %}
  {% for row in item.ratings %}
  <div class="row">
    <div class="col-4 text-right">{{ row.name }}:</div>
    <div class="col">
      {% for i in (1..row.value) %}
      <span class="star">★</span>
      {% endfor %}
    </div>
  </div>
  {% endfor %}
</div>
{% endif %}
{% endfor %}
