---
layout: blank
---


{% assign item = page %}
<div class="container mb-5">

  <h1 class="mb-5 mt-5">{{ page.title }}</h1>

  <div class="row mb-5 mt-5">
    <div class="col">
      <div class="float-left">
      <h5>{{ rank }} <img height="75" src="/img/{{ item.logo }}"> <a class="mx-5" href="{{ item.url }}">{{ item.name }}</a> {{item.score}}%</h5>
      </div>
      <a href="{{ item.site }}" class="btn btn-light m-2 float-right">Visit Site</a>
    </div>
  </div>

  {% include properties %}

  {% if page.updated %}
  <p class="my-5"><i>Last updated on {{ page.updated | date: '%B %d, %Y'}}.</i></p>
  {% endif %}
</div>

<div class="container">
  {{content}}

  <h2>All the reviews, one PDF</h2>
  <p>Choosing the right chatbot tool can be difficult. There are a lot
    of tools, and their quality varies a lot. The purpose of
    ChatbotTech is to make choosing a chatbot tool as painless as
    possible. We've reviewed and rated the top chatbot tools so you
    can quickly find the one that is right for you.</p>
  <p>Sign up below and we'll send you a free PDF containing all the
  reviews, and ChatbotTech's guide to choosing a chatbot. We'll also
  send you occasional news and updates (no more than once a week).<p>

    <div class="row mx-auto">
      <div class="col">
    <!-- Begin MailChimp Signup Form -->
    <div id="mc_embed_signup">
      <form action="https://replycraft.us6.list-manage.com/subscribe/post?u=3fe77eb5fe&amp;id=dfd39bcdba" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" target="_blank" novalidate>
	<input placeholder="Enter your email" type="email" value="" name="EMAIL" class="required email form-control mr-2" id="mce-EMAIL">
	<input placeholder="First name" type="text" value="" name="FNAME" class="form-control m-2" id="mce-FNAME">
	<div class="response" id="mce-error-response" style="display:none"></div>
	<div class="response" id="mce-success-response" style="display:none"></div>
	<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
	<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_3fe77eb5fe_dfd39bcdba" tabindex="-1" value=""></div>
	<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn ml-2"></div>
      </form>
    </div>
    <!--End mc_embed_signup-->
      </div>
    </div>


<style type="text/css">/* Layout */
  .ck_form.ck_naked {
  /* divider image */
  background: transparent;
  line-height: 1.5em;
  overflow: hidden;
  color: #666;
  font-size: 16px;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  clear: both;
  margin: 20px 0px;
  text-align: center;
  }

  .ck_form.ck_naked p {
  padding: 0px;
  }

  .ck_form, .ck_form * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  }

  .ck_form.ck_naked .ck_form_fields {
  width: 100%;
  float: left;
  padding: 5%;
  }
  /* Form fields */

  .ck_errorArea {
  display: none; /* temporary */
  }

  #ck_success_msg {
  padding: 10px 10px 0px;
  border: solid 1px #ddd;
  background: #eee;
  }

  .ck_form.ck_naked input[type="text"], .ck_form.ck_naked input[type="email"] {
  font-size: 18px;
  padding: 10px 8px;
  width: 34%;
  border: 1px solid #d6d6d6; /* stroke */
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px; /* border radius */
  background-color: #fff; /* layer fill content */
  margin-bottom: 5px;
  height: auto;
  float: left;
  margin: 0px;
  margin-right: 1%;
  height: 42px;
  }

  .ck_form input[type="text"]:focus, .ck_form input[type="email"]:focus {
  outline: none;
  border-color: #aaa;
  }

  .ck_form.ck_naked .ck_subscribe_button {
  width: 100%;
  color: #fff;
  margin: 0px;
  padding:  9px 0px;
  font-size: 18px;
  background: #0d6db8;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px; /* border radius */
  cursor: pointer;
  border: none;
  text-shadow: none;
  width: 30%;
  float: left;
  height: 42px;
  }


  .ck_converted_content {
  display: none;
  padding: 5%;
  background: #fff;
  }

  /* max width 500 */

  .ck_form.ck_naked.width500 .ck_subscribe_button {
  width: 100%;
  float: none;
  margin-top: 5px;
  }

  .ck_form.ck_naked.width500 input[type="text"], .ck_form.ck_naked.width500 input[type="email"] {
  width: 49%;
  }

  .ck_form.ck_naked.width500 input[type="email"] {
  margin-right: 0px;
  width: 50%;
  }

  /* max width 400 */

  .ck_form.ck_naked.width400 .ck_subscribe_button, .ck_form.ck_naked.width400 input[type="text"], .ck_form.ck_naked.width400 input[type="email"] {
  width: 100%;
  float: none;
  margin-top: 5px;
  }

  .ck_slide_up, .ck_modal, .ck_slide_up .ck_naked, .ck_modal .ck_naked  {
  min-width: 400px;
  }

  .page .ck_form.ck_naked {
  margin: 50px auto;
  max-width: 700px;
  }


  /* v6 */

  .ck_slide_up.ck_form_v6, .ck_modal.ck_form_v6, .ck_slide_up.ck_form_v6 .ck_naked, .ck_modal.ck_form_v6 .ck_naked {
  min-width: 0 !important;
  }

  .ck_form_v6 #ck_success_msg {
  padding: 0px 10px;
  }

  @media all and (max-width: 403px) {
  .ck_form_v6.ck_modal .ck_naked {
  padding-top: 30px;
  }
  }

  @media all and (max-width: 499px) {
  .ck_form_v6.ck_modal .ck_naked + .ck_close_link {
  color: #fff;
  top: 10px;
  }
  }

  .ck_form_v6.ck_slide_up .ck_naked + .ck_close_link {
  right: 10px;
  top: -5px;
  }

  @media all and (min-width: 600px) {
  .ck_form_v6.ck_slide_up .ck_naked + .ck_close_link {
  right: 35px;
  }
  }





</style>


</div>

